<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/left-menu_layout :: layout(~{::title},~{::head/link},~{::head/script},~{::head/style},~{::body/content()})}">
<head>
    <script>
        $(function() {
            $('#nav-link-admin-account').addClass('active');

            // NOTE: 検索/表示処理
            $('#find-clear').on('click', findClear);
            $('#find-exec').on('click', findExec);
            findExec();

            // NOTE: 登録/更新処理
            $('#add-btn').on('click', clearEditModal);
            $('#update-btn').on('click', update);
            $('#update-password-btn').on('click', updatePassword);

            // NOTE: 削除処理
            $('#delete-btn').on('click', remove);
        });

        function findClear() {
            $('#find-name').val('');
        }

        function findExec() {
            const ajaxParam = {
                name: $('#find-name').val(),
                email: $('#find-email').val(),
                referer: $('#referer').val(),
            };

            $.ajax({
                type: 'GET',
                url: '[[@{/admin/account/find}]]',
                data: ajaxParam,
            }).then(function (data, textStatus, jqXHR) {
                $('#item-table').empty();

                if (data && 0 < data.length) {
                    createDataTable(data);

                } else {
                    $('#item-table').text('登録情報がありません。');
                }

            }, function (jqXHR, textStatus, errorThrown) {
                $('#item-table').text('エラーが発生しました。ステータス：' + jqXHR.status);
            });
        }

        function clearEditModal() {
            $('#edit-modal').find('.modal-title').text('アカウント新規登録');
            $('#id').val('');
            $('#name').val('');
            $('#name').closest('.form-group').find('.field-alert').text('');
            $('#loginId').val('');
            $('#loginId').closest('.form-group').find('.field-alert').text('');
            $('#password').val('');
            $('#password').closest('.form-group').show();
            $('#password').closest('.form-group').find('.field-alert').text('');
            $('#authRole').closest('.form-group').find('.field-alert').text('');
            $('#update-btn').text('新規登録する');
        }

        function setEditModal() {
            clearEditModal();

            const data = $(this).data();

            $('#edit-modal').find('.modal-title').text('アカウント更新');
            $('#id').val(data.id);
            $('#name').val(data.name);
            $('#name').closest('.form-group').find('.field-alert').text('');
            $('#currentLoginId').val(data.loginId);
            $('#loginId').val(data.loginId);
            $('#loginId').closest('.form-group').find('.field-alert').text('');
            $('#password').val('');
            $('#password').closest('.form-group').hide();
            $('#password').closest('.form-group').find('.field-alert').text('');
            $('input[name="authRole"][value="' + data.roles + '"]').prop('checked', true);
            $('#referer').val(data.referer);
            $('#referer').closest('.form-group').find('.field-alert').text('');

            $('#update-btn').text('更新する');
        }

        function update() {
            let validate = false;

            const name = $('#name').val();
            if (name) {
                $('#name').closest('.form-group').find('.field-alert').text('');

            } else {
                $('#name').closest('.form-group').find('.field-alert').text('入力してください');
                validate = true;
            }

            const loginId = $('#loginId').val();
            if (loginId) {
                if (!loginId.match(/.+@.+\..+/)) {
                    $('#loginId').closest('.form-group').find('.field-alert').text('メールアドレスの形式で入力してください');
                    validate = true;

                } else {
                    $('#loginId').closest('.form-group').find('.field-alert').text('');
                }
            } else {
                $('#loginId').closest('.form-group').find('.field-alert').text('入力してください');
                validate = true;
            }

            // NOTE: 新規登録の場合
            if (!$('#id').val()) {
                const password = $('#password').val();
                if (password) {
                    $('#password').closest('.form-group').find('.field-alert').text('');
                }
                 else {
                    $('#password').closest('.form-group').find('.field-alert').text('入力してください');
                    validate = true;
                }
            }

            // NOTE: 権限
            const authRole = $('input[name="authRole"]:checked').val();
            if (authRole) {
                $('#authRole').closest('.form-group').find('.field-alert').text('');
            } else {
                $('#authRole').closest('.form-group').find('.field-alert').text('入力してください');
                validate = true;
            }

            // NOTE: 遷移元URL
            const referer = $('#referer').val();
            if (referer) {
                $('#referer').closest('.form-group').find('.field-alert').text('');
            } else {
                $('#referer').closest('.form-group').find('.field-alert').text('入力してください');
                validate = true;
            }

            // NOTE: 入力エラーキャッチ
            if (validate) {
                return;
            }

            // NOTE: 編集の場合
            if ($('#id').val()) {
                const currentLoginId = $('#currentLoginId').val();
                if (loginId === currentLoginId) {
                    updateExec();

                } else {
                    const ajaxParam = {
                        loginId: loginId,
                    };

                    $.ajax({
                        type: 'GET',
                        url: '[[@{/admin/account/find-login-id}]]',
                        data: ajaxParam,
                    }).then(function (data, textStatus, jqXHR) {
                        if (data) {
                            $('#loginId').closest('.form-group').find('.field-alert').text('登録済みです');
                        } else {
                            updateExec();
                        }
                    }, function (jqXHR, textStatus, errorThrown) {
                        ajaxError(jqXHR);
                    });
                }
            }

            // NOTE: 新規登録の場合
            else {
                const ajaxParam = {
                    loginId: loginId,
                };

                $.ajax({
                    type: 'GET',
                    url: '[[@{/admin/account/find-login-id}]]',
                    data: ajaxParam,

                }).then(function (data, textStatus, jqXHR) {
                    if (data) {
                        $('#loginId').closest('.form-group').find('.field-alert').text('登録済みです');
                    } else {
                        updateExec();
                    }
                }, function (jqXHR, textStatus, errorThrown) {
                    ajaxError(jqXHR);
                });
            }
        }

        function updateExec() {
            // NOTE: true/false
            let isReferenceVerifiedValue = $('#isReferenceVerified').is(':checked') ? true : false;

            const ajaxParam = {
                id: $('#id').val(),
                name: $('#name').val(),
                loginId: $('#loginId').val(),
                password: $('#password').val(),
                authRole: $('input[name="authRole"]:checked').val(),
                referer: $('#referer').val(),
            };

            $.ajax({
                type: 'POST',
                url: '[[@{/admin/account/}]]',
                data: ajaxParam,

            }).then(function (data, textStatus, jqXHR) {
                findExec();
                $('#edit-modal').modal('hide');

            }, function (jqXHR, textStatus, errorThrown) {
                ajaxError(jqXHR);
            });
        }

        function updatePassword() {
            let validate = false;

            const password = $('#updatePassword').val();
            if (password) {
                $('#updatePassword').closest('.form-group').find('.field-alert').text('');

            } else {
                $('#updatePassword').closest('.form-group').find('.field-alert').text('入力してください');
                validate = true;
            }

            // NOTE: 入力エラーキャッチ
            if (validate) {
                return;
            }

            const ajaxParam = {
                id: $('#updateId').val(),
                password: $('#updatePassword').val(),
            };

            $.ajax({
                type: 'POST',
                url: '[[@{/admin/account/password}]]',
                data: ajaxParam,

            }).then(function (data, textStatus, jqXHR) {
                findExec();
                $('#update-modal').modal('hide');

            }, function (jqXHR, textStatus, errorThrown) {
                ajaxError(jqXHR);
            });
        }

        function createDataTable(data) {
            let tbl = $('<table>').addClass('table table-striped table-sm').css({'table-layout': 'fixed'});
            tbl.append(getDataTableHead());
            tbl.append(getDataTableBody(data));
            $('#item-table').append(tbl);
        }

        function getDataTableHead() {
            let th1 = $('<th>').addClass('text-center').text('No.').css({'width': '48px'});
            let th2 = $('<th>').addClass('text-center').text('名前');
            let th3 = $('<th>').addClass('text-center').text('メールアドレス');
            let th4 = $('<th>').addClass('text-center').text('権限');
            let th5 = $('<th>').addClass('text-center').text('遷移元URL');
            let th6 = $('<th>').addClass('text-center');
            let tr = $('<tr>');
            tr.append(th1, th2, th3, th4, th5, th6);
            let thead = $('<thead>');
            thead.append(tr);

            return thead;
        }

        function getDataTableBody(data) {
            let body = $('<tbody>');
            $.each(data, function (index, item) {
                let td1 = $('<td>').addClass('text-center align-middle').text(index + 1);
                let td2 = $('<td>').addClass('text-center align-middle').text(item.name);
                let td3 = $('<td>').addClass('text-center align-middle').text(item.loginId);
                let td4 = $('<td>').addClass('text-center align-middle').text(item.roles);
                let td5 = $('<td>').addClass('text-center align-middle').text(item.referer);
                let td6 = $('<td>').addClass('text-center align-middle');

                {
                    let btn = $('<button>').addClass('btn btn-default btn-square').attr('data-bs-toggle', 'modal').attr('data-bs-target', '#edit-modal');
                    btn.on('click', setEditModal);
                    btn.data(item);
                    btn.append($('<i>').addClass('bi bi-pen'));
                    td6.append(btn);
                }
                {
                    let btn = $('<button>').addClass('btn btn-default btn-square').attr('data-bs-toggle', 'modal').attr('data-bs-target', '#update-modal');
                    btn.on('click', setUpdatePasswordModal);
                    btn.data(item);
                    btn.append($('<i>').addClass('bi bi-key'));
                    td6.append(btn);
                }
                {
                    let btn = $('<button>').addClass('btn btn-default btn-square').attr('data-bs-toggle', 'modal').attr('data-bs-target', '#delete-modal');
                    btn.on('click', setDeleteModal);
                    btn.data(item);
                    btn.append($('<i>').addClass('bi bi-x-square'));
                    td6.append(btn);
                }

                let tr = $('<tr>');
                tr.append(td1, td2, td3, td4, td5, td6);
                body.append(tr);
            });

            return body;
        }

        function remove() {
            const ajaxParam = {
                id: $('#deleteId').val(),
            };

            $.ajax({
                type: 'DELETE',
                url: '[[@{/admin/account/}]]',
                data: ajaxParam,

            }).then(function (data, textStatus, jqXHR) {
                findExec();
                $('#delete-modal').modal('hide');

            }, function (jqXHR, textStatus, errorThrown) {
                ajaxError(jqXHR);
            });
        }

        function setUpdatePasswordModal() {
            const data = $(this).data();

            $('#updateId').val(data.id);
            $('#updateName').val(data.name);
            $('#updateLoginId').val(data.loginId);
            $('#updatePassword').val('');
        }

        function setDeleteModal() {
            const data = $(this).data();

            $('#deleteId').val(data.id);
            $('#deleteName').val(data.name);
            $('#deleteLoginId').val(data.loginId);
            $('#delete-btn').text('削除する');
        }
    </script>
    <style>

    </style>
</head>
<body>

<div class="page-head">
    <h3 class="page-head__title">アカウント管理</h3>
</div>

<div class="card mt-3 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <label for="find-name">名前</label>
                <input type="text" class="form-control" id="find-name" placeholder="名前" readonly>
            </div>
            <div class="col-auto">
                <label for="find-name">メールアドレス</label>
                <input type="email" class="form-control" id="find-email" placeholder="メールアドレス" readonly>
            </div>

            <div class="col-auto">
                <label for="find-name">遷移元URL</label>
                <input type="text" class="form-control" id="find-referer" placeholder="遷移元URL" readonly>
            </div>
            <div class="col align-self-end">
                <div class="btn-group">
                    <button id="find-exec" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                    <button id="find-clear" class="btn btn-outline-secondary"><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-md-end">
    <button id="add-btn" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#edit-modal">新規登録する</button>
</div>

<div id="item-table" class="table-responsive pt-2"></div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id">
                <input type="hidden" id="currentLoginId">
                <div class="form-group">
                    <label for="name">名前 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="名前">
                    <p class="text-danger field-alert"></p>
                </div>
                <div class="form-group">
                    <label for="loginId">メールアドレス <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="loginId" name="loginId" placeholder="メールアドレス">
                    <p class="text-danger field-alert"></p>
                </div>
                <div class="form-group">
                    <label for="password">パスワード <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="パスワード">
                    <p class="text-danger field-alert"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="authRole">権限 <span class="text-danger">*</span></label>
                    <div id="authRole">
                        <div class="btn-group" role="group">
                            <input type="radio" class="btn-check" name="authRole" id="authAdmin" value="ROLE_ADMIN" autocomplete="off">
                            <label class="btn btn-outline-primary" for="authAdmin">管理者</label>

                            <input type="radio" class="btn-check" name="authRole" id="authUser" value="ROLE_USER" autocomplete="off">
                            <label class="btn btn-outline-primary" for="authUser">ユーザー</label>
                        </div>
                    </div>
                    <p class="text-danger field-alert"></p>
                </div>
                <div class="form-group">
                    <label for="name">遷移元URL <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="referer" name="referer" placeholder="遷移元URL">
                    <p class="text-danger field-alert"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-outline-primary" id="update-btn"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">パスワード変更</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning mb-3" role="alert">パスワードを変更します</div>
                <input type="hidden" id="updateId">
                <div class="form-group mb-3">
                    <label for="updateName">名前</label>
                    <input type="text" class="form-control" disabled id="updateName">
                </div>
                <div class="form-group mb-3">
                    <label for="updateLoginId">メールアドレス</label>
                    <input type="text" class="form-control" disabled id="updateLoginId">
                </div>
                <div class="form-group">
                    <label for="updatePassword">パスワード</label>
                    <input type="password" class="form-control" id="updatePassword" placeholder="パスワード">
                    <p class="text-danger field-alert"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-outline-primary" id="update-password-btn">変更する</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">アカウントを削除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger mb-3" role="alert">アカウントを削除します</div>
                <input type="hidden" id="deleteId">
                <div class="form-group mb-3">
                    <label for="deleteName">名前</label>
                    <input type="text" class="form-control" disabled id="deleteName">
                </div>
                <div class="form-group mb-3">
                    <label for="deleteLoginId">メールアドレス</label>
                    <input type="text" class="form-control" disabled id="deleteLoginId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-outline-danger" id="delete-btn"></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
